.MyPost {
  padding: 0 20px;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  list-style: none;
}

form {
  display: block;
  width: 100%;
}

.textarea {
  display: block;
  min-height: 80px;
  max-height: none;
  padding: 10px 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  outline: none;
}