.item {
  width: calc((100% - 5px * 2) / 3);
  margin-bottom: 10px;
}

.link {
  display: block;
}

.img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.name {
  text-align: center;
}