.nav {
  grid-area: n;
  background-color: #fff;
}

.nav__list {
  padding-left: 15px;
  list-style: none;
}

.nav__item {
  margin: 1px 0;
}

.nav__link {
  display: block;
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2a5885;
  font-weight: 600;
}

.nav__item a.active {
  background-color: #e6e6e6;
  color: #2a5885;
  font-weight: 700;
  border-radius: 7px;
  outline: none;
}
