
.post__item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.post__img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.post__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
