.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h h"
    "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200;
  padding: 0 15px;
}

.app-content {
  grid-area: c;
  background-color: #fcd5ce;
}
