.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h h"
    "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: #ffb5a7;
}

.header img {
  width: 70px;
}

.nav {
  grid-area: n;
  background-color: #ffb5a7;
}

.nav ul {
  list-style: none;
}

.content {
  grid-area: c;
  background-color: #fcd5ce;
}

.content__img {
  width: 100%;
  height: 150px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}