ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dialogs {
  padding-top: 15px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.title {
  margin: 10px 0 30px;
  padding: 10px 20px;
  border-bottom: 1px solid #b6b6b6;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.dialogsList {
  width: 35%;
  border-right: 1px solid #e7e8ec;
}

.dialogItem a {
  display: block;
  padding: 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #e7e8ec;
  color: #000000;
}

.dialogItem a:hover {
  background-color: #f7f8fa;
  color: #000000;
}

.dialogItem a.active {
  background-color: #5181b8;
  color: #ffffff;
}

.messagesWrap {
  width: 63%;
  padding: 20px 0;
  border-top: 1px solid #e7e8ec;
  border-left: 1px solid #e7e8ec;
}

.messageList {
  display: flex;
  flex-direction: column-reverse;

}
.messageItem {
  display: flex;
  margin: 0 7px 4px 7px;
  padding: 6px 30px 7px 30px;
}
.messageItem:nth-of-type(even) {
  text-align: left;
}
.messageItem:nth-of-type(odd) {
  margin-left: auto;
  text-align: right;
}

.messageImg {
  width: 36px;
  height: 36px;
}

.messageImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.messageInner {
  display: flex;
  margin: 5px 0;
  font-weight: 600;
}
.messageTextInner {
  margin: 4px 7px ;
  padding: 6px 30px 7px 30px;
}
.messageText {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  overflow: auto;
}
.messageBtn {
  display: block;
}